* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';
  background-color: black;
}

.client {
  width: 100%;
  height: 100%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
}

.toolbar {
  width: 100%;
  height: 50px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.toolbar-list01 {

  width: 10%;
  height: 40px;

  color: white;
  border: none;
  border-bottom: 1px solid gray;
}